*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#form{
  width: 100%;
  padding: 50px;
  background: rgb(204, 202, 202);
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px -3px rgba(71, 48, 48, 0.253);
}
.container .box {
  width: 100%;
  padding: 50px;
  background: rgb(204, 202, 202);
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px -3px rgba(71, 48, 48, 0.253);
}
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
  
  .u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }


    img{
      height: 200px;
    }

#mapid { height: 250px; }